Repository The-Weasel-Flockmind/Weasel-Station, pull requests merged in 2024-11, with the labels that each got.

#50 Added WeaselStation Changelog
  Resources/Changelog/WeaselStation_Changelog.yml
  Resources/Locale/en-US/_Weaselstation/changelog/changelog-window.ftl
Labels: No C#

#52 Add weaselstation changelog x2
  Resources/Changelog/WeaselChangelog.yml
  Resources/Locale/en-US/_Weaselstation/changelog/changelog-window.ftl
Labels: No C#

#54 IGNORE ME!!!!
  Resources/Changelog/WeaselStation_Changelog.yml
  Resources/Locale/en-US/_Weaselstation/changelog/changelog-window.ftl
Labels: No C#

#53 Honkmother has awoken!
  Resources/Audio/_Weaselstation/Misc/honkmother_spawn.ogg
  Resources/Locale/en-US/_Weaselstation/honkmother/honkmother.ftl
  Resources/Prototypes/_Weaselstation/Entities/Mobs/Player/honkmother.yml
Labels: No C#

#55 IGNORE ME AGAIN
  Resources/Changelog/WeaselChangelog.yml
  Resources/Locale/en-US/_Weaselstation/changelog/changelog-window.ftl
Labels: No C#

#56 Lobby art cqcm4 by 'Blooodyspy'
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/cqcm4.webp
  Resources/Textures/LobbyScreens/cqcm4.webp.yml
Labels: No C#

#46 Pact Station
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Weaselstation/pact.yml
  Resources/Prototypes/Maps/Weaselstation/pact.yml
Labels: No C#, Changes: Map

#58 Make antagonists more likely and meteors less likely
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#

#64 Folder fix (attempt #2)
  Resources/Maps/_Weaselstation/pact.yml
  Resources/Maps/_Weaselstation/uoui.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Weaselstation/Entities/Mobs/NPCs/animals.yaml
  Resources/Prototypes/_Weaselstation/Maps/pact.yml
  Resources/Prototypes/_Weaselstation/Maps/uoui.yml
  Resources/Textures/_Weaselstation/Mobs/Pets/weasel.rsi/meta.json
  Resources/Textures/_Weaselstation/Mobs/Pets/weasel.rsi/weasel.png
  Resources/Textures/_Weaselstation/Mobs/Pets/weasel.rsi/weasel_dead.png
Labels: No C#, Changes: Sprites, Changes: Map
