Repository The-Weasel-Flockmind/Weasel-Station, pull requests merged in 2024-10, with the labels that each got.

#24 Head of chuckles_3
  Resources/Prototypes/_Weaselstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Weaselstation/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Weaselstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Weaselstation/Clothing/Head/Hats/headofchuckles.rsi/equipped-HELMET.png
  Resources/Textures/_Weaselstation/Clothing/Head/Hats/headofchuckles.rsi/icon.png
  Resources/Textures/_Weaselstation/Clothing/Head/Hats/headofchuckles.rsi/inhand-left.png
  Resources/Textures/_Weaselstation/Clothing/Head/Hats/headofchuckles.rsi/inhand-right.png
  Resources/Textures/_Weaselstation/Clothing/Head/Hats/headofchuckles.rsi/meta.json
  Resources/Textures/_Weaselstation/Clothing/Mask/headofchuckles.rsi/equipped-MASK.png
  Resources/Textures/_Weaselstation/Clothing/Mask/headofchuckles.rsi/icon.png
  Resources/Textures/_Weaselstation/Clothing/Mask/headofchuckles.rsi/inhand-left.png
  Resources/Textures/_Weaselstation/Clothing/Mask/headofchuckles.rsi/inhand-right.png
  Resources/Textures/_Weaselstation/Clothing/Mask/headofchuckles.rsi/meta.json
  Resources/Textures/_Weaselstation/Clothing/Neck/Cloaks/headofchuckles.rsi/equipped-NECK.png
  Resources/Textures/_Weaselstation/Clothing/Neck/Cloaks/headofchuckles.rsi/icon.png
  Resources/Textures/_Weaselstation/Clothing/Neck/Cloaks/headofchuckles.rsi/inhand-left.png
  Resources/Textures/_Weaselstation/Clothing/Neck/Cloaks/headofchuckles.rsi/inhand-right.png
  Resources/Textures/_Weaselstation/Clothing/Neck/Cloaks/headofchuckles.rsi/meta.json
Labels: No C#, Changes: Sprites

#25 Wehmax: Cola thats just Weh Juice in a can.
  Resources/Prototypes/_Weaselstation/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Textures/_Weaselstation/Objects/Consumable/Drinks/weh_max.rsi/icon.png
  Resources/Textures/_Weaselstation/Objects/Consumable/Drinks/weh_max.rsi/icon_open.png
  Resources/Textures/_Weaselstation/Objects/Consumable/Drinks/weh_max.rsi/inhand-left.png
  Resources/Textures/_Weaselstation/Objects/Consumable/Drinks/weh_max.rsi/inhand-right.png
  Resources/Textures/_Weaselstation/Objects/Consumable/Drinks/weh_max.rsi/meta.json
Labels: No C#, Changes: Sprites

#26 Update Uoui station
  Resources/Maps/Weaselstation/uoui.yml
  Resources/Prototypes/Maps/Weaselstation/uoui.yml
Labels: No C#, Changes: Map

#27 Two new plushies
  Resources/Prototypes/_Weaselstation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Weaselstation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Weaselstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Weaselstation/Objects/Fun/toys.rsi/Bewitched_being.png
  Resources/Textures/_Weaselstation/Objects/Fun/toys.rsi/Panda.png
  Resources/Textures/_Weaselstation/Objects/Fun/toys.rsi/meta.json
Labels: No C#, Changes: Sprites

#30 Updates Glossary with 2 terms
  Resources/ServerInfo/Guidebook/Glossary.xml
Labels: No C#

#34 Update Uoui station
  Resources/Maps/Weaselstation/uoui.yml
Labels: No C#, Changes: Map

#35 Update CDN Workflow
  Tools/publish_multi_request.py
Labels: No C#

#29 Allows Art! (with minor description changes)
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
Labels: No C#

#42 Update Uoui station
  Resources/Maps/Weaselstation/uoui.yml
  Resources/Prototypes/Maps/Weaselstation/uoui.yml
Labels: No C#, Changes: Map

#39 Merge
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
  Content.Client/Pinpointer/NavMapSystem.Regions.cs
  Content.Client/Pinpointer/NavMapSystem.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/EntityEffects/Effects/FlashReactionEffect.cs
  Content.Server/Ninja/Systems/NinjaSuitSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Pinpointer/NavMapComponent.cs
  Content.Shared/Pinpointer/SharedNavMapSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/atmos/atmos-alerts-console.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/ninja/ninja-actions.ftl
  Resources/Maps/Test/dev_map.yml
  Resources/Maps/packed.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI

#18 Replaced ss14 icons with weaselstation icons
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
Labels: No C#

#45 Vanity Insanity
  Resources/Audio/Announcements/RoundEnd/Beepsky Cuboos.ogg
  Resources/Audio/Announcements/RoundEnd/Engrev Cuboos.ogg
  Resources/Audio/Announcements/RoundEnd/VOXbangindonk.ogg
  Resources/Audio/Announcements/RoundEnd/Wiz Cuboos.ogg
  Resources/Audio/Announcements/RoundEnd/attributions.yml
  Resources/Audio/Announcements/RoundEnd/bangindonk.ogg
  Resources/Audio/Announcements/RoundEnd/gondolabridge.ogg
  Resources/Audio/Announcements/RoundEnd/sisyphus_sisyphus.ogg
  Resources/Audio/Announcements/RoundEnd/yeehaw.ogg
  Resources/Audio/Lobby/TrackingDevice.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/moonbaseoddity.ogg
  Resources/Audio/Lobby/tango.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/INDECIPHRES.webp
  Resources/Textures/LobbyScreens/INDECIPHRES.webp.yml
  Resources/Textures/LobbyScreens/RuinsOfTheDeadGod.webp
  Resources/Textures/LobbyScreens/RuinsOfTheDeadGod.webp.yml
  Resources/Textures/LobbyScreens/TheBloodGeometer.webp
  Resources/Textures/LobbyScreens/TheBloodGeometer.webp.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/cqcm3.webp
  Resources/Textures/LobbyScreens/cqcm3.webp.yml
  Resources/Textures/LobbyScreens/darkmauler.webp
  Resources/Textures/LobbyScreens/darkmauler.webp.yml
  Resources/Textures/LobbyScreens/drifting.webp
  Resources/Textures/LobbyScreens/drifting.webp.yml
  Resources/Textures/LobbyScreens/lavaland.webp
  Resources/Textures/LobbyScreens/lavaland.webp.yml
  Resources/Textures/LobbyScreens/nuclear emergency.webp
  Resources/Textures/LobbyScreens/nuclear emergency.webp.yml
Labels: No C#

#47 Vanity insanity x2
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/pharmacy.webp
  Resources/Textures/LobbyScreens/pharmacy.webp.yml
  Resources/Textures/LobbyScreens/susstation.webp
  Resources/Textures/LobbyScreens/susstation.webp.yml
  Resources/Textures/LobbyScreens/warden.webp
  Resources/Textures/LobbyScreens/warden.webp.yml
Labels: No C#

#48 Price change for 'Weh MAX' crate
  Resources/Prototypes/_Weaselstation/Catalog/Cargo/cargo_food.yml
Labels: No C#

#49 Vanity insanity x3
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
Labels: No C#
